/* components/header.css */

.header {
    /* Position */
    padding-top: 10px;
}

.row-1 {
    /* Position */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



/* roaa khaled */
.row-1 h1 {
    /* Font */
    font-family: "Rampart One", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: fit-content;

    /* Design */
    color: white;
    font-size: 55px;
}

.email {
    height: fit-content;
    margin-left: 325px;
    margin-right: 100px;
}



/* rkaledx@gmail.com */
.row-1 span {
    /* Font */
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    /* Design */
    color: white;
    font-size: 15px;
}

.row-1 i {
    /* Position */
    margin-right: 15px;

    /* Design */
    font-size: 16px;
    coloR: white;
}

.row-1 a {
    text-decoration: none;
    cursor: url('/public/images/cursor_black.png'), auto;
}

.row-1 a:hover {
    border-bottom: 2px solid white;
}

.row-2 {
    /* Design */
    color: white;

    /* Position */
    display: flex;
    margin-left: 200px;
    gap: 120px;
}

.row-2 h3 {
    /* Design */
    transition: border-bottom 0.3s linear;
}

.row-2 h3:hover {
    /* Design */
    border-bottom: 1px solid white;
    cursor: url('/public/images/cursor_black.png'), auto;

}