/* components/introduction.css */

.portrait-photo {
    /* Position */
    float: right;
    margin-right: 80px;
    display: block;

    /* Design */
    width: 500px;
}

.Main-section {
    /* Position */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.sub-section {
    /* Position */
    float: left;
    margin-left: 100px;

    /* Design */
    width: 700px;
    color: white;
    height: auto;

    /* Font */
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

.sub-section .hello {
    font-size: 48px;
/*     font-family: "Matemasie", sans-serif;
 */    width: fit-content;
/*  font-family: "Gravitas One", serif;
 */
 font-family: "Seymour One", sans-serif;

}

.sub-section p {
    font-size: 30px;
}

.connect-button {
    /* Font */
    font-size: 20px;
    font-weight: bolder;
    font-family: "DM Serif Text", serif;
    font-style: italic;

    /* Position */
    position: relative;
    margin-left: 100px;

    /* Design */
    cursor: url('/public/images/cursor_black.png'), auto;
    background-color: white;
    color: black;
    padding: 10px 20px;
    width: 220px;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 0px 0px 2px #1a1a1a inset;
}

.connect-button::before {
    /* Design */
    background-color: blueviolet;
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
}