body {
  font-family: "Times New Roman", Times, serif; 
  background-color:black;
  cursor: url('/public/images/cursor_white.png'), auto;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('/public/images/wave.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

}